{# Transparent Nav, No Logo #}
<div id="nav">
    <div class="nav-header">
        <div class="logo pull-left">
            <h3 class="text-center"><a href="/">NEON SINES</a></h3>
        </div>
        <div id="nav-toggle">
            <div class="nav-icon">
                <div></div>
            </div>
        </div>
        <ul class="pull-right hidden-xs">
            <li>
                <a target="_blank" href="https://www.facebook.com/neonsinesband/">
                    <i class="fa fa-facebook" title="Facebook"></i>
                    Facebook
                </a>
            </li>
            <li>
                <a target="_blank" href="https://www.instagram.com/neon__sines/">
                    <i class="fa fa-instagram" aria-hidden="true"></i>
                    Instagram
                </a>
            </li>
            <li>
                <a target="_blank" href="https://soundcloud.com/neonsinesband">
                    <i class="fa fa-soundcloud" title="Soundcloud"></i>
                    Soundcloud
                </a>
            </li>
            
        </ul>
    </div>
</div>